<div id="wrap" class="center">
  <h1>Verification Form</h1>
  <h2>本人確認フォーム</h2>

  <% if @authentication.errors.any? %>
    <ul>
      <% @authentication.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div id="content">
    <%= form_for(@authentication, url: authentication_index_path, html: { id: 'verification_form' }) do |f| %>
      <script defer src="https://app.test.trustdock.io/v1/review_helper" data-project-key="<%= ENV['DATA_PROJECT_KEY'] %>" data-opener-class="open-button"></script>
      <div class="input-box">
        <span>氏名<font color="red">*</font></span><span class="red" id="error_verification_name"></span><br />
        <%= f.text_field :name, { id: 'verification_name' } %>
      </div>

      <div class="input-box">
        <span>性別<font color="red">*</font></span><span class="red" id="error_verification_name"></span><br />
        <%= f.select :gender, options_for_select([['男性', 'male'], ['女性', 'female']]), { prompt: '--' }, { id: 'gender' } %>
      </div>

      <div class="input-box">
        <span>生年月日<font color="red">*</font></span><span class="red" id="error_verification_birth"></span><br />
        <%= f.date_select :birth, { use_month_numbers: true, use_two_digit_numbers: true, start_year: 1950, prompt: '--' }, { id: 'birth' } %>
      </div>

      <div class="input-box">
        <span>都道府県<font color="red">*</font></span><span class="red" id="error_verification_pref"></span><br />
        <%= f.select :prefecture_id, options_for_select(Prefecture.pluck(:name, :id)), { prompt: '--' }, { id: 'prefectures' } %>
      </div>

      <div class="input-box">
        <span>住所<font color="red">*</font></span><span class="red" id="error_verification_mail"></span><br />
        <%= f.text_field :address %>
      </div>

      <input type="button" value="本人確認をする" class="open-button btn-submit">
    <% end %>
  </div>
</div>
